* {
  box-sizing: border-box;
}

body {
  font-size: 30px;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: 'Julius Sans One', sans-serif;
  padding: 20px;
}

/* Center website */
.main {
  max-width: 1000px;
  margin: auto;
}

h1 h3 {
  text-align: center;
  font-size: 50px;
  word-break: break-all;
}

.row {
  margin: 8px;
}

main {
  display: flex;
  flex-wrap: wrap;
  position: relative;
}

.avatar {
  vertical-align: middle;
  width: 70px;
  height: 70px;
  border-radius: 70%;
}

.Portfolio{
  text-align: center;
}

/* Add padding BETWEEN each column (if you want) */
.row,
.row > .column {
  padding: 8px;
}

/* Create four equal columns that floats next to each other */
.column {
  float: left;
  width: 25%;
}

/* Clear floats after rows */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Content */
.content {
  background-color: #886D76;
  padding: 80px;
  text-decoration: underline;

}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 900px) {
  .column {
    width: 60%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}

.fa-linkedin {
  background: #007bb5;
  color: white;}

  .fa-instagram {
    background: #125688;
    color: white;
  }