*  {
  box-sizing: border-box;
  margin: 0%;
}

body {
    font-family: comic sans ms, sans-serif;
  }

.main-header {
    display: flexbox;
    font-size: 40px;
    color: pink;
    position:absolute;
    text-align:right;
}

.main-header #Bryant {
  color:black;
  
}

.main-header ul {
  list-style-type: none;
  background-color:slategrey;
  position:relative;
  top: 100px;
}

.main-header ul li {
  display:inline-grid;
  font-variant: small-caps;
  color: white;
  font-size: 50px;
  padding: 0px 100px 9px 100px;
  text-decoration-line: underline;
  direction:revert;
}

.main-header img {
  width: 15%;
  float:left;
  position:absolute;
  top: -8px;
  left: -8px;
}


main {
    display: flex;
    flex-wrap: wrap;
}

.about header {
    color:white;
    font-size: 50px;
    margin: 50%auto;
  }

.sample header {
    color:white;
    font-size: 50px;
    margin: 100%auto;
}

.contact header {
  color:white;
  font-size: 50px;
  margin: 180%auto;
}






@media screen and (max-width: 700px) {
  .header, .nav img {   
    flex-direction: column;
  }